*{
   box-sizing: border-box;
   text-decoration: none;
   font-size: 14px;
}

.background{
   background-color: rgb(243,243,243);
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.container{
   width: 100%;
   min-height: 630px;
   /* min-height: 100vh; */
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}

.wrapper{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 785px;
   /* height: 100vh; */
}

.phone{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.phone img{
   position: absolute;
   height: 580px;
}

.tela1 {
   opacity: 0;
   /* é preciso declarar um nome para animação com "animation-name" */
   animation-name: animacao;
   animation-duration: 15s;
   /* "animation-iteration-count" efine quantas vezes a animação será repetida, neste caso infinitamente. */
   animation-iteration-count: infinite;
}

.tela2 {
   opacity: 0;
   animation-name: animacao;
   animation-duration: 15s;
   animation-iteration-count: infinite;
   /* usado para atrasar o inicio da animação, neste caso em 5 segundos */
   animation-delay: 5s;
}

.tela3 {
   opacity: 0;
   animation-name: animacao;
   animation-duration: 15s;
   animation-iteration-count: infinite;
   /* usado para atrasar o inicio da animação, neste caso em 5 segundos */
   animation-delay: 10s;
}

/* vc define como será a animação usando "@keyframes NomeDaAnimação" */
/* as porcentagens se referem ao momento da animação, por exemplo 50% se refere a oq acontecera quando a animação chegar na metade dela */
@keyframes animacao{
   33%{
      opacity: 1;
   }
   66%{
      opacity: 0;
   }
}

.continue{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   width: 50%;
   /* o "rem" de "34rem" é usado para as fonts/letras */
   min-height: 34rem;
}

.group{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   width: 350px;
   /* max-width: 350px; */
   /* o primeiro numero é para cime/baixo e o segundo paras esquerda/direita */
   padding: 1.3rem 0;
   border: 1px solid lightgray;
}

/* o ":nth-child()" é usado para mexer dentro de uma tag que está dentro de outra tag, neste caso a tag "group" */
/* o numero "(1)" significa que a tag modificada será a primeira tag dentro da tag "group" */
.group:nth-child(1){
   min-height: 19rem;
}

.logo{
   height: 3rem;
}

.foto{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   overflow: hidden;
}

.foto img{
   height: 6rem;
}

.login{
   background-color: #0095F6;
   color: #fff;
   padding: 8px;
   border-radius: 4px;
}

.logout{
   color: #0095F6;
   margin-top: 1rem;
}

.not-account{
   color: rgb(160, 160, 160);
}

.link-blue{
   color: #0095F6;
}

.get-the-app{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   /* padding: 1.3rem 0; */
}

.downloads{
   display: flex;
   width: 100%;
   max-width: 350px;
   justify-content: space-evenly;
   align-items: center;
   padding: 1rem;
}

.app-download{
   height: 3rem;
   width: 10rem;
   background-size: cover;
   cursor: pointer;
}

.footer {
   display: flex;
   max-width: 370px;
   min-width: 320px;
   margin: auto;
   width: 100%;
   justify-content: space-around;
   color: rgb(160, 160, 160);
   height: 70px;
   align-items: center;
   background-color: rgb(243,243,243);
}

/********************************* TABLET *********************************/
@media(max-width: 1024px) {
   .wrapper{
      width: 90%;  
   }

   .phone{
      display: none;
   }

   .continue{
      width: 100%;
   }
}

/********************************* MOBILE *********************************/
@media(max-width: 650px) {
   .background{
      background-color: #fff;
   }

   .footer{
      background-color: #fff;
   }

   .container{
      background-color: #fff;
   }

   .wrapper{
      width: 90%;  
   }

   .phone{
      display: none;
   }

   .continue{
      width: 100%;
   }

   .group{
      border: 1px solid transparent;
   }
}
   